body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: fit-content;
    background-color: blue;
    display: flex;
}

ul{
    width: 100%;
    heigth: fit-content;
    display: flex;
    gap: 20px;
}

li{
    display: inline;
    transition: padding 1s, border-radius 1s;
}

li:hover{
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    transition: padding 1s, border-radius 1s;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkblue;
}

